@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

@import "tailwindcss";

@theme {
  --font-family-sans:
    "Pretendard Variable", "Pretendard", -apple-system, BlinkMacSystemFont,
    system-ui, "Roboto", "Segoe UI", "Helvetica Neue", sans-serif;

  /* 라이트 모드 색상 */
  --color-background: #ffffff; /* white */
  --color-foreground: #1f2937; /* gray-800 */
  --color-header-background: #ffffff; /* white */
}

body {
  font-family: var(--font-family-sans);
  color: var(--color-foreground);
}
